html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
}

.right {
    flex: 2;
}